# Node
node_modules/
npm-debug.log/
yarn-error.log/

*Zone.Identifier*

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS files
.DS_Store

# Build
dist/
build/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Docker
*.pid
*.seed